.products__foto {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
    width: 280px;
    height: 380px;
    background: white;
    border-radius: 30px;
    color: black;
    object-fit: contain;
}

.products__foto:hover {
    cursor: pointer;
}

@media (max-width: 320px) {
    .products__foto {
        width: 180px;
        height: 280px;
    }
}